$white: rgba(255, 255, 255, 1);
$black: #000000;
$black-transparent: rgba(0, 0, 0, 0.5);

$light: rgb(237,226,224);
$purple: rgb(222,194,219);
$violet: rgb(91,98,179);
$blue: rgb(46,128,228);
$sky: rgb(109,160,225);

// for ui kit
$placeholder: rgba(159, 167, 175, 1);
$ui-disable-text: rgba(159, 167, 175, 1);
$ui-bg: rgba(250, 251, 252, 1);
$ui-hover: rgba(244, 249, 252, 1);
$ui-border: rgba(156, 176, 197, 0.5);
$ui-error: rgba(232, 75, 121, 1);
$ui-title: rgba(52, 64, 84, 1);