body {
  max-width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: $ff-base;
  font-size: 16px;
}

main {
  flex-grow: 1;
  background-color: $white;
  display: flex;
  flex-direction: column;
}

body {
  font-family: $ff-base;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  & .lock {
    overflow: hidden;
    padding-right: 17px;
  }
}

h1 {
  font-family: $ff-heading;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}
